<%- include("header") -%>

<h1 id="heading">This is my about page</h1>

<h2 class="center">Darius Turner</h2>

<div class="box">
  <p class="item center">Quick Study</p>
  <p class="item center">Innovative</p>
  <p class="item center">Driven</p>
  <p class="item center">Nice Guy</p>
</div>

<style>
  .item {
    display: block;
  }
  h2 {
    background: #fff;
    color: #A683E3;
    line-height: 55px;
    margin-top: -1.8%;
  }

  #footer a:hover {
    color: #fff;
  }
</style>

<%- include("footer") -%>
