<footer id="footer">
  <div class="nav">
    <a class="btn" href="/">Home</a>
    <a class="btn" href="/work">Work</a>
    <a class="btn" href="/about">About</a>
  </div>
  <span>Copyright 2019 <a href="https://dariusot731.wixsite.com/home">Darius Turner</a></span>
</footer>
</body>
</html>
