<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To Do List</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="/css/queries.css">
  </head>
  <body>

    <div class="box" id="heading">
      <h1><%= kindOfDay %></h1>
    </div>

    <div class="box">
    <% if (newListItems.length < 1) { %>
      <p class="intro">Add a list of things you need to do...</p>
    <% } %>

      <% for(let i = 0; i < newListItems.length; i++) { %>
        <div class="item">
          <input type="checkbox">
          <p><%= newListItems[i] %></p>
        </div>
    <% } %>

    <form class="item" action="/" method="post">
      <input type="text" name="newItem" placeholder="Add a new item here" autocomplete="off">
      <button type="submit" name="button">+</button>
    </form>

    </div>

    <% if (kindOfDay === "Saturday" || kindOfDay === "Sunday") { %>
      <style>
        h1 {color: green;}
      </style>
    <% } else { %>
      <style>
        h1 {color: black;}
      </style>
    <% } %>
  </body>
</html>
