<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To Do List</title>
  </head>
  <body>

    <h1><%= kindOfDay %></h1>

    <% if (kindOfDay === "Saturday" || kindOfDay === "Sunday") { %>
      <style>
        h1 {color: green;}
      </style>
    <% } else { %>
      <style>
        h1 {color: black;}
      </style>
    <% } %>
  </body>
</html>
