<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To Do List</title>
  </head>
  <body>

    <h1><%= kindOfDay %></h1>

    <h3>To Do List</h3>

    <% if (newListItems.length < 1) { %>
      <p>"Use the fields below to add to your To Do List"</p>
    <% } %>

    <ul>
      <% for(var i = 0; i < newListItems.length; i++) { %>
      <li><%= newListItems[i] %></li>
    <% } %>
    </ul>

    <form action="/" method="post">
      <input type="text" name="newItem" placeholder="Add a new item here">
      <button type="submit" name="button">Add</button>
    </form>

    <% if (kindOfDay === "Saturday" || kindOfDay === "Sunday") { %>
      <style>
        h1 {color: green;}
      </style>
    <% } else { %>
      <style>
        h1 {color: black;}
      </style>
    <% } %>
  </body>
</html>
